# Web Scrapping and Data Analysis

# Scrapping Data from Skytrax
f you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use Python and BeautifulSoup to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
# Importing Liabraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import re

In [2]:
# Set the URL of the paginated webpage that you want to scrape
url = "https://www.airlinequality.com/airline-reviews/british-airways"

# Initialize an empty list to store the data that you scrape
data = []

# Setting the initial page number and the increment that you want to use to paginate through the webpage
page_num = 1
page_incr = 1
page_size = 100
# maximum number of pages to be scraped
max_pages = 30

# Set the URL of the webpage to be scraped 
paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

# A while loop to paginate through the webpage and scrape the data
while page_num <= max_pages:

    print(f"Scraping page {page_num}")

    # A GET request to the paginated URL
    response = requests.get(paginated_url)

    # Parsing the response using BeautifulSoup
    parsed_content = BeautifulSoup(response.text, "html.parser")

    # Finding all the elements on the page that contain the data to be scraped
    elements = parsed_content.find_all("div",class_ = "body")

    # Looping through the elements and extract the data that you want to scrape
    for element in elements:
        header = element.find("h2",class_ = "text_header").text.replace("\n", " ")
        sub_header = element.find("h3",class_ = "text_sub_header").text.replace("\n", " ")
        content = element.find("div",class_ = "text_content").text.replace("\n", " ")
        
        data.append([header,sub_header,content])

    # Increasing the page number and setting the paginated URL to the new page
    page_num += page_incr
    paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

    print(f"   ---> {len(data)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews

#The loops above collected 3000 reviews by iterating through the paginated pages on the website.

#The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [3]:
#Coverting the list data into a dataframe
df = pd.DataFrame(data)
df.columns = ["REVIEW","PERSONAL INFO","CONTENT"]

#Removing unwanted text(first text preprocessing)
df.replace(re.compile(r'/s*✅ Trip Verified /|/s*'), '', inplace=True)
df

,REVIEW,PERSONAL INFO,CONTENT
0,"""Customer Service does not exist""",N Hancock (United Kingdom) 18th July 2023,✅ Trip Verified | Customer Service does not e...
1,"""another great experience""",Steven Hodgson (United Kingdom) 17th July 2023,✅ Trip Verified | Another really great pair of...
2,"""Not recommended""",John Grainger (United Kingdom) 17th July 2023,Not Verified | Our A380 developed a fault tax...
3,"""5 hours and 30 mins but no meal""",K Robson (United Kingdom) 16th July 2023,Not Verified | Horrible airline. Does not care...
4,"""Things have really deteriorated""",Pradeep Madhavan (United Kingdom) 9th July 2023,✅ Trip Verified | My family and I have flown ...
...,...,...,...
2995,British Airways customer review,I Gowon (United Kingdom) 17th March 2015,This is not reflective of BA in general only t...
2996,British Airways customer review,Panos Anastasopoulos (United Kingdom) 17th M...,BA085 LHR to YVR 100315. Narrow seats without ...
2997,British Airways customer review,Angie Kirkpatrick (United Kingdom) 17th Marc...,London to Budapest and back in Club class. Fir...
2998,British Airways customer review,Clive V Drake (United Kingdom) 17th March 2015,LHR-PISA-LHR. I have a house in Tuscany so fly...
2999,British Airways customer review,A Crow (United Kingdom) 17th March 2015,Flew to Bangkok with Thai Airways who were lov...

In [4]:
# Saving data into csv
df.to_csv("/home/papa/Downloads/British Airline/BA_reviews.csv")

In [5]:
sentiment_analysis_df = df.drop(["REVIEW","PERSONAL INFO"], axis=1)
sentiment_analysis_df.replace(re.compile(r'/s*✅ Verified Review /|/s*'), '', inplace=True)
sentiment_analysis_df

                                                CONTENT
0     ✅ Trip Verified |  Customer Service does not e...
1     ✅ Trip Verified | Another really great pair of...
2     Not Verified |  Our A380 developed a fault tax...
3     Not Verified | Horrible airline. Does not care...
4     ✅ Trip Verified |  My family and I have flown ...
...                                                 ...
2995  This is not reflective of BA in general only t...
2996  BA085 LHR to YVR 100315. Narrow seats without ...
2997  London to Budapest and back in Club class. Fir...
2998  LHR-PISA-LHR. I have a house in Tuscany so fly...
2999  Flew to Bangkok with Thai Airways who were lov...

[3000 rows x 1 columns]

In [6]:
# Save the DataFrame to a CSV file
sentiment_analysis_df.to_csv("sentiment_content.csv", index=False)